<h2>i18n</h2>

<div class="example" i18n>Простой пример</div>
<div class="example" i18n="Описание">Описание</div>
<div class="example" i18n="Значение|Описание">Значение и описание</div>
<div class="example" i18n="@@(demo)someId">Идентификатор</div>
<div class="example" i18n="Значение|Описание@@(demo)someId2">Значение|Описание@@Идентификатор</div>
<div class="example" title="Подсказка" i18n-title="Всплывающая подсказка для текста" i18n="Текст">
  Перевод аттрибутов
</div>
<ng-container i18n>Для перевода вне html тега, текст оборачивается в ng-container</ng-container>
<div>{{ textInCode }}</div>

<h2>Pipes</h2>

<div>Date: {{ date | date: 'fullDate' }}</div>
<div>Currency: {{ currency | currency }}</div>
<div>Decimal: {{ decimal | number }}</div>
<div>Percent: {{ percent | percent }}</div>

<h2>Plurals</h2>

<input type="number" [formControl]="minutesControl" />
<div>
  <span i18n>Обновленно: </span>
  <span i18n>
    {minutesControl.value, plural, =0 {только что} few {{{minutesControl.value}} минуты назад} many{{{minutesControl.value}}
    минут назад} other {{{minutesControl.value}} минуту назад} =60 {час назад}}
  </span>
</div>

<h2>Select</h2>

<div class="gender-select">
  <label for="rus">
    <input id="rus" type="radio" [value]="genderEnum.noGender" [formControl]="genderControl" />
    &#65533;
  </label>
  <label for="en">
    <input id="en" type="radio" [value]="genderEnum.male" [formControl]="genderControl" />
    &#9794;
  </label>
  <label for="en">
    <input id="en" type="radio" [value]="genderEnum.female" [formControl]="genderControl" />
    &#9792;
  </label>
</div>

<div><span i18n>Здравствуйте </span><span i18n>{genderControl.value, select, 0 {андрогин} 1 {сэр} 2 {мэм}}</span></div>
