<h2 i18n="Заголовок|Заголовок демонстрации i18n">Пример использования i18n</h2>

<div>
  <p i18n="i18n|О передаче дополнительной информации">
    В i18n можно передавать дополнительное описание в формате "Значение|Описание" или "Описание" Id переводимого блока
    генерируется на основе хэша текста внутри тэга
  </p>
  <p i18n="i18n|О передаче id@@(demo)about_id">
    По умолчанию i18n генерирует для блока токен на основе хэша содержимого переводимого блока. Но можно указать свой
    токен, используя @@.
  </p>
</div>

<div>
  <ng-container i18n="Текст|Описание кнопки, следующей за данным текстом"
    >Кнопка с установленным аттрибутом title</ng-container
  >
  <button
    title="Кнопка не выполнит никаких действий"
    i18n="Кнопка|Кнопка, при нажатии ничего не происходит. Только для демонстрации i18n"
    i18n-title="Подсказка|Подсказка пользователю, что кнопка является заглушкой"
  >
    Сохранить
  </button>
</div>
