@import '~normalize.css';
@import './scss/constants.scss';

html {
  box-sizing: border-box;
  font-family: $font-family-base;
  font-size: $font-size-14;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: $font-size-14;
  color: $color-text-dark;
}

body {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
}

h1 {
  font-size: $font-size-24;
}

h2 {
  font-size: $font-size-18;
}

h3 {
  font-size: $font-size-16;
}
